In [1]:
import xlwings as xw
import pandas as pd

In [2]:
amarre_path = r"C:\Users\nil.monreal\Desktop\7. Cierre de mes AR\1.1- AMARRE AGING Vs. BALANZA AJUSTADO JANUARY 2025.xlsx"
ar52_path = r"C:\Users\nil.monreal\Desktop\6. Reportes de Cierre R4New folder\AR 5 2 AGING (RESUMEN) - JANUARY 2025.xlsx"
ac_cierre_path = r"C:\Users\nil.monreal\Desktop\Actividades Cierre de mes V3.xlsx"

In [3]:
amarre_wb = xw.Book(amarre_path, update_links=False)  # Open the Amarre workbook
ar52_sheet = amarre_wb.sheets['AR 5 2 AGING (FINAL)']  # Access the 'AR 5 2 AGING (FINAL)' sheet

In [4]:
# Remove any existing filters (reset AutoFilters)
if ar52_sheet.api.AutoFilterMode:
    ar52_sheet.api.AutoFilterMode = False

In [5]:
# Get the last row to define the range
last_row = ar52_sheet.range('B' + str(ar52_sheet.cells.last_cell.row)).end('up').row

# Read the filtered data into a pandas DataFrame
filtered_data = ar52_sheet.range(f"A6:N{last_row}").options(pd.DataFrame, header=1, index=False).value
df_payments = pd.DataFrame(filtered_data)

df_payments

,Ent Reference,Vendor Code,Customer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,01-30,31-60,61-90,91-120
0,CH090180,EZ1012,EMBRAER FLORIDA,EZ4200,902820923.0,2020-02-24,2020-03-15,USD,419.92,NaN,NaN,NaN,NaN,419.92
1,CH091089,EZ1012,EMBRAER FLORIDA,EZ4200,902364433.0,2020-03-03,2020-05-02,USD,2867.40,NaN,NaN,NaN,NaN,2867.40
2,CH095104,EZ1012,EMBRAER FLORIDA,EZ4200,902584634.0,2020-06-12,2020-07-02,USD,709.87,NaN,NaN,NaN,NaN,709.87
3,CH095776,EZ1012,EMBRAER FLORIDA,EZ4200,902762265.0,2020-06-30,2020-07-20,USD,1431.52,NaN,NaN,NaN,NaN,1431.52
4,CH096887,EZ1012,EMBRAER FLORIDA,EZ4200,902736924.0,2020-07-31,2020-08-20,USD,1382.42,NaN,NaN,NaN,NaN,1382.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2970,**,EZ1005,SAFRAN CABIN INC. (CYPRESS),None,None,2015-11-25,NaT,USD,-8955.80,NaN,NaN,NaN,NaN,-8955.80
2971,CH001403,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,279.94,NaN,NaN,NaN,NaN,279.94
2972,CH001407,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,802.98,NaN,NaN,NaN,NaN,802.98
2973,CH101967,EZ1012,EMBRAER FLORIDA,None,902546255.0,2021-12-28,NaT,USD,-1.84,NaN,NaN,NaN,NaN,-1.84
2974,CH083631,EZ1095,EMBRAER AVIATION FRANCE,None,903081004.0,2022-07-29,NaT,USD,-2.77,NaN,NaN,NaN,NaN,-2.77

In [8]:
df_payments = df_payments[df_payments['Due-Date'].isna()]
df_payments

,Ent Reference,Vendor Code,Customer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,01-30,31-60,61-90,91-120
3232,PRO-PICH0002,EZ1001,EMBRAER BRASIL,None,905715587.0,2024-08-12,NaT,USD,-112704.28,-112704.28,NaN,NaN,NaN,NaN
3233,PRO-PICH0007,EZ1001,EMBRAER BRASIL,None,905715619.0,2024-08-12,NaT,USD,-75085.17,-75085.17,NaN,NaN,NaN,NaN
3234,PRO-PICH0008,EZ1001,EMBRAER BRASIL,None,905715620.0,2024-08-12,NaT,USD,-75085.17,-75085.17,NaN,NaN,NaN,NaN
3235,CMCH2552,EZ1086,"EMBRAER, SA (BRASIL)",None,902803364.0,2020-01-31,NaT,USD,-7.79,NaN,NaN,NaN,NaN,-7.79
3236,CMCH1474,EZ1006,SAFRAN CABIN BRAZIL LTDA. (JACAREI),EZ4298,PR-EZA17055,2018-01-23,NaT,USD,-28.10,NaN,NaN,NaN,NaN,-28.10
3237,**,EZ1005,SAFRAN CABIN INC. (CYPRESS),None,None,2015-11-25,NaT,USD,-8955.80,NaN,NaN,NaN,NaN,-8955.80
3238,CH001403,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,279.94,NaN,NaN,NaN,NaN,279.94
3239,CH001407,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,802.98,NaN,NaN,NaN,NaN,802.98
3240,CH101967,EZ1012,EMBRAER FLORIDA,None,902546255.0,2021-12-28,NaT,USD,-1.84,NaN,NaN,NaN,NaN,-1.84
3241,CH083631,EZ1095,EMBRAER AVIATION FRANCE,None,903081004.0,2022-07-29,NaT,USD,-2.77,NaN,NaN,NaN,NaN,-2.77

In [7]:
input("Please dowload the trial balance and imput it on the spreadsheet and click enter...")

''

In [9]:
ar52_wb = xw.Book(ar52_path, update_links=False)  # Open the AR 5 2 workbook
safran_sheet_ar52 = ar52_wb.sheets['SAFRAN']  # Access the 'SAFRAN' sheet

In [10]:
# Get the last row to define the range
last_row = safran_sheet_ar52.range('C6').end('down').row

last_row
#Read the filtered data into a pandas DataFrame

filtered_data = safran_sheet_ar52.range(f"A6:N{last_row}").options(pd.DataFrame, header=1, index=False).value
df_invoices = pd.DataFrame(filtered_data)

ar52_wb.close()

df_invoices

,Tab,Ent Reference,Customer Code,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,31-60,61-90,91-120,Over 120
0,None,CH090180,EZ1012,EZ4200,902820923.0,2020-02-24,2020-03-15,USD,419.92,NaN,NaN,NaN,NaN,419.92
1,None,CH091089,EZ1012,EZ4200,902364433.0,2020-03-03,2020-05-02,USD,2867.40,NaN,NaN,NaN,NaN,2867.40
2,None,CH095104,EZ1012,EZ4200,902584634.0,2020-06-12,2020-07-02,USD,709.87,NaN,NaN,NaN,NaN,709.87
3,None,CH095776,EZ1012,EZ4200,902762265.0,2020-06-30,2020-07-20,USD,1431.52,NaN,NaN,NaN,NaN,1431.52
4,None,CH096887,EZ1012,EZ4200,902736924.0,2020-07-31,2020-08-20,USD,1382.42,NaN,NaN,NaN,NaN,1382.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,None,CH163177,EZ1033,EZ4200,2099421.0,2024-07-22,2024-08-21,usd,3124.00,NaN,NaN,NaN,NaN,3124.00
2961,None,CH163759,EZ1033,EZ4200,2065837.0,2024-07-30,2024-08-29,usd,422.40,NaN,NaN,NaN,NaN,422.40
2962,None,CH170376,EZ1033,EZ4200,2122152.0,2024-11-14,2024-12-14,usd,157.50,NaN,NaN,157.5,NaN,NaN
2963,None,CH094243,EZ1085,EZ4200,902676258.0,2020-05-25,2020-06-14,USD,-63.51,NaN,NaN,NaN,NaN,-63.51
2964,None,CH103012,EZ1088,EZ4200,902553077.0,2021-01-15,2021-02-04,USD,-108.40,NaN,NaN,NaN,NaN,-108.40

In [11]:
df_invoices['Total'].sum()

15677002.66

In [12]:
df_invoices[['Tab', 'Ent Reference']] = df_invoices[['Ent Reference', 'Tab']]
df_invoices[['Ent Reference', 'Customer Code']] = df_invoices[['Customer Code', 'Ent Reference']]


df_invoices

# dfrest = pd.concat([dfrest, df_filtered], ignore_index=True)

,Tab,Ent Reference,Customer Code,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,31-60,61-90,91-120,Over 120
0,CH090180,EZ1012,None,EZ4200,902820923.0,2020-02-24,2020-03-15,USD,419.92,NaN,NaN,NaN,NaN,419.92
1,CH091089,EZ1012,None,EZ4200,902364433.0,2020-03-03,2020-05-02,USD,2867.40,NaN,NaN,NaN,NaN,2867.40
2,CH095104,EZ1012,None,EZ4200,902584634.0,2020-06-12,2020-07-02,USD,709.87,NaN,NaN,NaN,NaN,709.87
3,CH095776,EZ1012,None,EZ4200,902762265.0,2020-06-30,2020-07-20,USD,1431.52,NaN,NaN,NaN,NaN,1431.52
4,CH096887,EZ1012,None,EZ4200,902736924.0,2020-07-31,2020-08-20,USD,1382.42,NaN,NaN,NaN,NaN,1382.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,CH163177,EZ1033,None,EZ4200,2099421.0,2024-07-22,2024-08-21,usd,3124.00,NaN,NaN,NaN,NaN,3124.00
2961,CH163759,EZ1033,None,EZ4200,2065837.0,2024-07-30,2024-08-29,usd,422.40,NaN,NaN,NaN,NaN,422.40
2962,CH170376,EZ1033,None,EZ4200,2122152.0,2024-11-14,2024-12-14,usd,157.50,NaN,NaN,157.5,NaN,NaN
2963,CH094243,EZ1085,None,EZ4200,902676258.0,2020-05-25,2020-06-14,USD,-63.51,NaN,NaN,NaN,NaN,-63.51
2964,CH103012,EZ1088,None,EZ4200,902553077.0,2021-01-15,2021-02-04,USD,-108.40,NaN,NaN,NaN,NaN,-108.40

In [13]:

df_invoices = df_invoices.rename(columns={'Ent Reference': 'Vendor Code','Tab': 'Ent Reference','Customer Code':'Costumer name'})

df_invoices

,Ent Reference,Vendor Code,Costumer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,31-60,61-90,91-120,Over 120
0,CH090180,EZ1012,None,EZ4200,902820923.0,2020-02-24,2020-03-15,USD,419.92,NaN,NaN,NaN,NaN,419.92
1,CH091089,EZ1012,None,EZ4200,902364433.0,2020-03-03,2020-05-02,USD,2867.40,NaN,NaN,NaN,NaN,2867.40
2,CH095104,EZ1012,None,EZ4200,902584634.0,2020-06-12,2020-07-02,USD,709.87,NaN,NaN,NaN,NaN,709.87
3,CH095776,EZ1012,None,EZ4200,902762265.0,2020-06-30,2020-07-20,USD,1431.52,NaN,NaN,NaN,NaN,1431.52
4,CH096887,EZ1012,None,EZ4200,902736924.0,2020-07-31,2020-08-20,USD,1382.42,NaN,NaN,NaN,NaN,1382.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,CH163177,EZ1033,None,EZ4200,2099421.0,2024-07-22,2024-08-21,usd,3124.00,NaN,NaN,NaN,NaN,3124.00
2961,CH163759,EZ1033,None,EZ4200,2065837.0,2024-07-30,2024-08-29,usd,422.40,NaN,NaN,NaN,NaN,422.40
2962,CH170376,EZ1033,None,EZ4200,2122152.0,2024-11-14,2024-12-14,usd,157.50,NaN,NaN,157.5,NaN,NaN
2963,CH094243,EZ1085,None,EZ4200,902676258.0,2020-05-25,2020-06-14,USD,-63.51,NaN,NaN,NaN,NaN,-63.51
2964,CH103012,EZ1088,None,EZ4200,902553077.0,2021-01-15,2021-02-04,USD,-108.40,NaN,NaN,NaN,NaN,-108.40

In [14]:
row_52 = df_invoices.shape[0] + 5 + df_payments.shape[0]
row_52

2980

In [15]:
last_row52 = ar52_sheet.range('B6').end('down').row
last_row52

3248

In [16]:
if row_52 > last_row52:
    ar52_sheet.range(f'{last_row52+1}:{row_52}').api.Insert()

elif row_52 < last_row52:
    ar52_sheet.range(f'{row_52}:{last_row52+1}').api.Delete()

elif row_52 == last_row52:
    pass

In [17]:
ar52_sheet.range(f'A7:Q{row_52}').clear()

In [18]:
df_invoices

,Ent Reference,Vendor Code,Costumer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,31-60,61-90,91-120,Over 120
0,CH090180,EZ1012,None,EZ4200,902820923.0,2020-02-24,2020-03-15,USD,419.92,NaN,NaN,NaN,NaN,419.92
1,CH091089,EZ1012,None,EZ4200,902364433.0,2020-03-03,2020-05-02,USD,2867.40,NaN,NaN,NaN,NaN,2867.40
2,CH095104,EZ1012,None,EZ4200,902584634.0,2020-06-12,2020-07-02,USD,709.87,NaN,NaN,NaN,NaN,709.87
3,CH095776,EZ1012,None,EZ4200,902762265.0,2020-06-30,2020-07-20,USD,1431.52,NaN,NaN,NaN,NaN,1431.52
4,CH096887,EZ1012,None,EZ4200,902736924.0,2020-07-31,2020-08-20,USD,1382.42,NaN,NaN,NaN,NaN,1382.42
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2960,CH163177,EZ1033,None,EZ4200,2099421.0,2024-07-22,2024-08-21,usd,3124.00,NaN,NaN,NaN,NaN,3124.00
2961,CH163759,EZ1033,None,EZ4200,2065837.0,2024-07-30,2024-08-29,usd,422.40,NaN,NaN,NaN,NaN,422.40
2962,CH170376,EZ1033,None,EZ4200,2122152.0,2024-11-14,2024-12-14,usd,157.50,NaN,NaN,157.5,NaN,NaN
2963,CH094243,EZ1085,None,EZ4200,902676258.0,2020-05-25,2020-06-14,USD,-63.51,NaN,NaN,NaN,NaN,-63.51
2964,CH103012,EZ1088,None,EZ4200,902553077.0,2021-01-15,2021-02-04,USD,-108.40,NaN,NaN,NaN,NaN,-108.40

In [19]:
df_payments

,Ent Reference,Vendor Code,Customer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,01-30,31-60,61-90,91-120
3232,PRO-PICH0002,EZ1001,EMBRAER BRASIL,None,905715587.0,2024-08-12,NaT,USD,-112704.28,-112704.28,NaN,NaN,NaN,NaN
3233,PRO-PICH0007,EZ1001,EMBRAER BRASIL,None,905715619.0,2024-08-12,NaT,USD,-75085.17,-75085.17,NaN,NaN,NaN,NaN
3234,PRO-PICH0008,EZ1001,EMBRAER BRASIL,None,905715620.0,2024-08-12,NaT,USD,-75085.17,-75085.17,NaN,NaN,NaN,NaN
3235,CMCH2552,EZ1086,"EMBRAER, SA (BRASIL)",None,902803364.0,2020-01-31,NaT,USD,-7.79,NaN,NaN,NaN,NaN,-7.79
3236,CMCH1474,EZ1006,SAFRAN CABIN BRAZIL LTDA. (JACAREI),EZ4298,PR-EZA17055,2018-01-23,NaT,USD,-28.10,NaN,NaN,NaN,NaN,-28.10
3237,**,EZ1005,SAFRAN CABIN INC. (CYPRESS),None,None,2015-11-25,NaT,USD,-8955.80,NaN,NaN,NaN,NaN,-8955.80
3238,CH001403,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,279.94,NaN,NaN,NaN,NaN,279.94
3239,CH001407,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,802.98,NaN,NaN,NaN,NaN,802.98
3240,CH101967,EZ1012,EMBRAER FLORIDA,None,902546255.0,2021-12-28,NaT,USD,-1.84,NaN,NaN,NaN,NaN,-1.84
3241,CH083631,EZ1095,EMBRAER AVIATION FRANCE,None,903081004.0,2022-07-29,NaT,USD,-2.77,NaN,NaN,NaN,NaN,-2.77

In [20]:
# Paste new values on the Spreadsheet
ar52_sheet.range("A7").value = df_invoices.values
ar52_sheet.range(f"A{df_invoices.shape[0]+7}").value = df_payments.values

In [21]:
#Check the formulas
ar52_sheet.range(f'I{row_52+2}').formula = f"=SUM(I7:I{row_52+1})"
ar52_sheet.range(f'J{row_52+2}').formula = f"=SUM(J7:J{row_52+1})"
ar52_sheet.range(f'K{row_52+2}').formula = f"=SUM(K7:K{row_52+1})"
ar52_sheet.range(f'L{row_52+2}').formula = f"=SUM(L7:L{row_52+1})"
ar52_sheet.range(f'M{row_52+2}').formula = f"=SUM(M7:M{row_52+1})"
ar52_sheet.range(f'N{row_52+2}').formula = f"=SUM(N7:N{row_52+1})"

In [22]:
act_cierre_wb = xw.Book(ac_cierre_path, update_links=False)  # Open the Act Cierre workbook
catalogo_sheet = act_cierre_wb.sheets['Catalogo cust']

In [23]:
#Add the formulas 

cell = 7

while cell <= row_52+1:

    ar52_sheet.range(f'C{cell}').formula = f"=VLOOKUP(B{cell},'[Actividades Cierre de mes V3.xlsx]Catalogo cust'!$A$3:$H$88,2,0)"
    ar52_sheet.range(f'O{cell}').formula = f"=VLOOKUP(B{cell},'[Actividades Cierre de mes V3.xlsx]Catalogo cust'!$A$3:$H$88,5,0)"
    ar52_sheet.range(f'P{cell}').formula = f"=VLOOKUP(B{cell},'[Actividades Cierre de mes V3.xlsx]Catalogo cust'!$A$3:$H$88,4,0)"
    ar52_sheet.range(f'Q{cell}').formula = f"=VLOOKUP(B{cell},'[Actividades Cierre de mes V3.xlsx]Catalogo cust'!$A$3:$H$88,3,0)"

    cell += 1

act_cierre_wb.close()

In [24]:
last_row52 = ar52_sheet.range('C6').end('down').row

last_row52

filtered_data = ar52_sheet.range(f"A6:Q{last_row52}").options(pd.DataFrame, header=1, index=False).value
df_ar52 = pd.DataFrame(filtered_data)

df_embraer = df_ar52[df_ar52['OP'] == 'EMB']

df_embraer

,Ent Reference,Vendor Code,Customer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,01-30,31-60,61-90,91-120,OP,CODE,CUENTA
0,CH090180,EZ1012,EMBRAER FLORIDA,EZ4200,902820923.0,2020-02-24,2020-03-15,USD,419.92,NaN,NaN,NaN,NaN,419.92,EMB,ESL1,1110.0
1,CH091089,EZ1012,EMBRAER FLORIDA,EZ4200,902364433.0,2020-03-03,2020-05-02,USD,2867.40,NaN,NaN,NaN,NaN,2867.40,EMB,ESL1,1110.0
2,CH095104,EZ1012,EMBRAER FLORIDA,EZ4200,902584634.0,2020-06-12,2020-07-02,USD,709.87,NaN,NaN,NaN,NaN,709.87,EMB,ESL1,1110.0
3,CH095776,EZ1012,EMBRAER FLORIDA,EZ4200,902762265.0,2020-06-30,2020-07-20,USD,1431.52,NaN,NaN,NaN,NaN,1431.52,EMB,ESL1,1110.0
4,CH096887,EZ1012,EMBRAER FLORIDA,EZ4200,902736924.0,2020-07-31,2020-08-20,USD,1382.42,NaN,NaN,NaN,NaN,1382.42,EMB,ESL1,1110.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2966,PRO-PICH0007,EZ1001,EMBRAER BRASIL,None,905715619.0,2024-08-12,NaT,USD,-75085.17,-75085.17,NaN,NaN,NaN,NaN,EMB,SJK1,1110.0
2967,PRO-PICH0008,EZ1001,EMBRAER BRASIL,None,905715620.0,2024-08-12,NaT,USD,-75085.17,-75085.17,NaN,NaN,NaN,NaN,EMB,SJK1,1110.0
2968,CMCH2552,EZ1086,"EMBRAER, SA (BRASIL)",None,902803364.0,2020-01-31,NaT,USD,-7.79,NaN,NaN,NaN,NaN,-7.79,EMB,SJK1,1110.0
2973,CH101967,EZ1012,EMBRAER FLORIDA,None,902546255.0,2021-12-28,NaT,USD,-1.84,NaN,NaN,NaN,NaN,-1.84,EMB,ESL1,1110.0
2974,CH083631,EZ1095,EMBRAER AVIATION FRANCE,None,903081004.0,2022-07-29,NaT,USD,-2.77,NaN,NaN,NaN,NaN,-2.77,EMB,LBG1,1110.0

In [25]:
emb_sheet = amarre_wb.sheets['Embraer']
# Remove any existing filters (reset AutoFilters)
if emb_sheet.api.AutoFilterMode:
    emb_sheet.api.AutoFilterMode = False

In [26]:

rows_emb = df_embraer.shape[0] + 4
last_row_emb = emb_sheet.range('I5').end('down').row

last_row_emb

2983

In [27]:
if rows_emb > last_row_emb:
    emb_sheet.range(f'{last_row_emb}:{rows_emb}').api.Insert()

elif rows_emb < last_row_emb:
    emb_sheet.range(f'{rows_emb}:{last_row_emb}').api.Delete()

elif rows_emb == last_row_emb:
    pass

emb_sheet.range(f'A5:Q{rows_emb}').clear()

In [28]:
emb_sheet.range("A5").value = df_embraer.values
emb_sheet.range(f'I{rows_emb+1}').formula = f"=SUM(I5:I{rows_emb})"
emb_sheet.range(f'J{rows_emb+1}').formula = f"=SUM(J5:J{rows_emb})"
emb_sheet.range(f'K{rows_emb+1}').formula = f"=SUM(K5:K{rows_emb})"
emb_sheet.range(f'L{rows_emb+1}').formula = f"=SUM(L5:L{rows_emb})"
emb_sheet.range(f'M{rows_emb+1}').formula = f"=SUM(M5:M{rows_emb})"
emb_sheet.range(f'N{rows_emb+1}').formula = f"=SUM(N5:N{rows_emb})"

In [29]:
df_safran = df_ar52[df_ar52['OP'] == 'CDZ']

df_safran

,Ent Reference,Vendor Code,Customer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,01-30,31-60,61-90,91-120,OP,CODE,CUENTA
2695,CH097634,EZ1006,SAFRAN CABIN BRAZIL LTDA. (JACAREI),EZ4299,PR-EZA19023,2020-08-27,2020-08-27,USD,910.93,NaN,NaN,NaN,NaN,910.93,CDZ,CIB,1116.0
2696,CH167029,EZ1006,SAFRAN CABIN BRAZIL LTDA. (JACAREI),EZ4200,EZA240001,2024-09-25,2024-10-25,USD,157.14,NaN,NaN,NaN,NaN,157.14,CDZ,CIB,1116.0
2697,CH173806,EZ1006,SAFRAN CABIN BRAZIL LTDA. (JACAREI),EZ4200,IF-EZA24004,2024-12-31,2025-01-30,USD,431.29,NaN,431.29,NaN,NaN,NaN,CDZ,CIB,1116.0
2698,CH101495,EZ1005,SAFRAN CABIN INC. (CYPRESS),EZ4200,1762587.0,2020-11-25,2020-12-25,USD,1307.01,NaN,NaN,NaN,NaN,1307.01,CDZ,CIU,1116.0
2699,CH102505,EZ1005,SAFRAN CABIN INC. (CYPRESS),EZ4200,1759811.0,2020-12-11,2021-01-10,USD,4858.32,NaN,NaN,NaN,NaN,4858.32,CDZ,CIU,1116.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2962,CH170376,EZ1033,SAFRAN SEATS SANTA MARIA LLC,EZ4200,2122152.0,2024-11-14,2024-12-14,usd,157.50,NaN,NaN,157.5,NaN,NaN,CDZ,SSH,1116.0
2969,CMCH1474,EZ1006,SAFRAN CABIN BRAZIL LTDA. (JACAREI),EZ4298,PR-EZA17055,2018-01-23,NaT,USD,-28.10,NaN,NaN,NaN,NaN,-28.10,CDZ,CIB,1116.0
2970,**,EZ1005,SAFRAN CABIN INC. (CYPRESS),None,None,2015-11-25,NaT,USD,-8955.80,NaN,NaN,NaN,NaN,-8955.80,CDZ,CIU,1116.0
2971,CH001403,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,279.94,NaN,NaN,NaN,NaN,279.94,CDZ,CIU,1116.0
2972,CH001407,EZ1008,SAFRAN CABIN INC. (SAN DIEGO),EZ4206,24051207.0,2014-04-30,NaT,USD,802.98,NaN,NaN,NaN,NaN,802.98,CDZ,CIU,1116.0

In [30]:
safran_sheet = amarre_wb.sheets['Safran']
last_row_safran = safran_sheet.range('I5').end('down').row
rows_safran = df_safran.shape[0] + 4

last_row_safran

268

In [31]:
if rows_safran > last_row_safran:
    safran_sheet.range(f'{last_row_safran}:{rows_safran}').api.Insert()

elif rows_safran < last_row_safran:
    safran_sheet.range(f'{rows_safran}:{last_row_safran}').api.Delete()

elif rows_safran == last_row_safran:
    pass

safran_sheet.range(f'A5:Q{rows_safran}').clear()

In [32]:
safran_sheet.range("A5").value = df_safran.values
safran_sheet.range(f'I{rows_safran+1}').formula = f"=SUM(I5:I{rows_safran})"
safran_sheet.range(f'J{rows_safran+1}').formula = f"=SUM(J5:J{rows_safran})"
safran_sheet.range(f'K{rows_safran+1}').formula = f"=SUM(K5:K{rows_safran})"
safran_sheet.range(f'L{rows_safran+1}').formula = f"=SUM(L5:L{rows_safran})"
safran_sheet.range(f'M{rows_safran+1}').formula = f"=SUM(M5:M{rows_safran})"
safran_sheet.range(f'N{rows_safran+1}').formula = f"=SUM(N5:N{rows_safran})"

In [33]:
df_other = df_ar52[df_ar52['OP'] == 'OTHER']

df_other

,Ent Reference,Vendor Code,Customer name,Entity,Cust.PO,Tr-Date,Due-Date,Currency,Total,Current,01-30,31-60,61-90,91-120,OP,CODE,CUENTA
2693,CH138621,EZ1071,PIONNER AEROFAB COMPANY INC.,EZ4398,20464.0,2023-06-19,2023-06-19,USD,-23.46,NaN,NaN,NaN,NaN,-23.46,OTHER,OTHER,1116.0
2694,CH131355,EZ1124,POLYMERSHAPES A,EZ4398,LAX-195124,2023-02-07,2023-02-07,USD,11.75,NaN,NaN,NaN,NaN,11.75,OTHER,OTHER,1116.0

In [34]:
other_sheet = amarre_wb.sheets['Others']
last_row_other = other_sheet.range('I5').end('down').row
rows_other = df_other.shape[0] + 4

rows_other

6

In [35]:
last_row_other

6

In [36]:
if rows_other > last_row_other:
    other_sheet.range(f'{last_row_other}:{rows_other}').api.Insert()

elif rows_other < last_row_other:
    other_sheet.range(f'{rows_other}:{last_row_other}').api.Delete()

elif rows_other == last_row_other:
    pass

other_sheet.range(f'A5:Q{rows_other}').clear()

In [37]:
other_sheet.range("A5").value = df_other.values
other_sheet.range(f'I{rows_other+1}').formula = f"=SUM(I5:I{rows_other})"
other_sheet.range(f'J{rows_other+1}').formula = f"=SUM(J5:J{rows_other})"
other_sheet.range(f'K{rows_other+1}').formula = f"=SUM(K5:K{rows_other})"
other_sheet.range(f'L{rows_other+1}').formula = f"=SUM(L5:L{rows_other})"
other_sheet.range(f'M{rows_other+1}').formula = f"=SUM(M5:M{rows_other})"
other_sheet.range(f'N{rows_other+1}').formula = f"=SUM(N5:N{rows_other})"

In [43]:
amarre_wb.save()

In [44]:
print("Done done :)")

Done done :)